<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <machpay>
                <active>1</active>
                <model>Machpay</model>
                <order_status>pending</order_status>
                <status_approved>processing</status_approved>
                <status_canceled>canceled</status_canceled>
                <title>Paga con MachPay</title>
                <custom_qr>0</custom_qr>
                <refund_available>0</refund_available>
		        <currency>CLP</currency>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>0</is_gateway>
                <sort_order>0</sort_order>
                <endpoint>https://biz-sandbox.soymach.com/</endpoint>
                <token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <cancel_hours>24</cancel_hours>
            </machpay>
        </payment>
    </default>
</config>
