<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Improntus\MachPay\Api\TransactionRepositoryInterface" type="Improntus\MachPay\Model\TransactionRepository"/>
    <preference for="Improntus\MachPay\Api\Data\TransactionInterface" type="Improntus\MachPay\Model\Transaction"/>
    <preference for="Improntus\MachPay\Api\Data\TransactionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <!-- @callback -->
    <preference for="Improntus\MachPay\Api\CallbackInterface" type="Improntus\MachPay\Model\Api\Callback"/>

    <!-- @sensitive values -->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="payment/machpay/token" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Machpay" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Improntus\MachPay\Model\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">MachPayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">MachPayValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="MachPayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="currency" xsi:type="string">Improntus\MachPay\Gateway\Validator\CurrencyValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MachPayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Improntus\MachPay\Model\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">MachPayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">MachPayValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="MachPayLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">Improntus\MachPay\Logger\Handler\MachpayHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MachPayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">MachPayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MachPayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">MachPayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Improntus\MachPay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">machpay</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Improntus\MachPay\Logger\Handler\MachpayHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Improntus\MachPay\Controller\Order\Create">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Improntus\MachPay\Controller\Order\Response">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="button_refund_machpay" type="Improntus\MachPay\Plugin\Sales\Block\Adminhtml\Order\View"/>
    </type>

</config>
